.HomePage {

}

.canvas {
    position: absolute;
}

.userThumbnail {
    position: fixed;
    cursor: grab;
}

.userThumbnailImg {
    width: 200px;
    height: 200px;
}

.logout {
    margin-left: auto;
    width: 142px;
    display: block !important;
}
